<body>
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Tip Calculator</mat-card-title>  
    </mat-card-header>
   
    <mat-card-content>
      <form id="myForm" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Amount</mat-label>
          <input  matInput placeholder="500" [(ngModel)]="price" [ngModelOptions]="{standalone: true}" pattern="">
          
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tip Percentage(%)</mat-label>
          <input matInput placeholder="17" [(ngModel)]="percent" [ngModelOptions]="{standalone: true}">
          
        </mat-form-field>
  
      
      <div class="answer" *ngIf ="price && percent"> 
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Tip Due</mat-label>
          <input matInput >{{tip}} 
        </mat-form-field>
      </div>
     
      <div class="btn">
        <button mat-fab aria-label="Example icon button with a heart icon" (click)="Form()">
          Reset
        </button>  
      </div>
    </form>
    </mat-card-content>
  
  </mat-card>
  

</div>
</body>
